doctype html
html
  head
    title gw2skins
    link(href="css/main.min.css" rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css')
  body
    #content
    script(src="js/main.min.js")
