html, body {
  padding: 0;
  margin: 0!important;
}

.text-center {
  text-align: center;
}

.container {
  margin-left: 20%;
  max-width: 60%;
}

.inline-block {
  display: inline-block;
}

.width-80 { width: 80%; }
.width-20 { width: 20%; }

$paddings: top bottom left right;

@for $size from -5 to 5 {
  .padding-#{$size*5} { padding: #{$size*5}px }
  .margin-#{$size*5} { margin: #{$size*5}px }
  @each $padding in $paddings {
    .padding-#{$padding}-#{$size*5} { padding-#{$padding}: #{$size*5}px }
    .margin-#{$padding}-#{$size*5} { margin-#{$padding}: #{$size*5}px }
  }
}
